extends ../includes/layouts/layout

block vars
  - var lang = "ja"
  - var title = "某企業様からのフロントエンドエンジニア選考試験"
  - var description = "メモ管理をするシングルページアプリケーションを実装してください。"
  - var url = ""
  - var ogpimage = ""
  - var type = "website"
block main
  router-view
